* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    height: 80px;
}

.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
}

.header-left img {
    height: 100%;
    padding: 15px;
}

.header-right {
    display: flex;
    height: 100%;
    width: 60%;
    float: right;
    padding-right: 15px;
}

.menu {
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    position: relative;
    padding: 10px 20px;
    margin: 0 5px;
    /* da rimuovere */
    border-bottom: 2px solid rgba(0,0,0,0);
}

.menu-item:hover {
    border-bottom: 2px solid #61ce4e;
}

.menu-item.active {
    border-bottom: 2px solid #61ce4e;
}

.menu-item a {
    text-transform: uppercase;
    font-size: 17px;
    text-decoration: none;
    color: #1b3c59;
}

.corso::after,
.dopo-il-corso::after {
    margin-left: 5px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

.corso::after,
.dopo-il-corso::after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f078";
    font-size: 13px;
    transition: transform 0.5s;
}

a.corso.rotate::after,
a.dopo-il-corso.rotate::after {
    transform: rotateX(180deg);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px;
    border: 1px solid black;
}

.dropdown-menu-item {
    text-align: center;
    margin: 7px 0;
}
